* {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 0.9rem;
}

.btn {
  font-size: 0.8rem;
}

.user-auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.user-auth > h1 {
  text-align: center;
}

.user-auth > form {
  width: 80vh;
  height: 80vh;
  background-color: white;
  padding: 0 20px;
}

.user-auth-link {
  color: black;
}

body > #root > div {
  height: 100vh;
  background-image: linear-gradient(0deg, #adb7ff, #bcfcff);
  overflow: hidden;
}

.navbar {
  background-color: white;
  height: 12vh;
}

.navbar-title {
  font-size: 50px;
  font-weight: bold;
  color: #0c0c9f;
}

.navbar-title:hover {
  text-decoration: none;
  color: #0079c4;
}

.navbar-links-container {
  display: flex;
  align-items: flex-end;
}

.navbar-link {
  display: flex;
  width: 15vh;
  height: 5vh;
  color: white;
  background-color: #0c0c9f;
  margin: 0 5px;
  padding: 0 5px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: bold;
}

.navbar-link:hover {
  background-color: #0079c4;
}

.view {
  display: flex;
  justify-content: space-evenly;
  margin: 2vh;
  height: 80%;
}

.todos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todolist {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  max-height: 500px;
  overflow: auto;
}

.todolist-container {
  margin-top: 0;
  width: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todolist-items {
  height: 6vh;
  background-color: white;
  display: flex;
  align-items: center;
  margin-top: 2px;
  margin-bottom: 2px;
  padding-left: 10px;
}

.todolist-items:hover {
  background-color: #ceedff;
  text-decoration: none;
}

.todolist-items-link {
  color: black;
}

.todolist-items-link:hover {
  color: black;
  text-decoration: none;
}

.todolist-items-category {
  color: gray;
  margin-left: 10px;
}

.todolist-items-category:hover {
  color: gray;
  text-decoration: none;
}

.todolist-checkbox {
  border: 6px solid #0c0c9f;
  height: 6vh;
  width: 6vh;
  background-color: white;
}

.todolist-checkbox:hover {
  background-color: #ceedff;
}

.todolist-checkbox-ticked {
  position: absolute;
  height: 100%;
  width: 100%;
}

.todolist-icons-container {
  margin-left: auto;
  display: flex;
}

.todolist-icons-container > button {
  margin: auto 0;
  margin-right: 4px;
}

.todolist-date {
  color: black;
  margin-right: 2vh;
  color: gray;
}

.checkbox-label {
  margin-right: 0.5em;
}
.checkbox {
  height: 1em;
  width: 1em;
}

svg,
img {
  display: block;
  width: 6vh;
  max-width: 100%;
  max-height: 300px;
  height: auto;
}

.search-bar {
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vh;
}

.search-bar > input {
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
}

.search-bar > input:hover {
  background-color: #f5f5f5;
}

.search-bar > input:focus {
  border: 1px solid #0c0c9f;
  background-color: white;
}

.search-icon {
  background-color: white;
  height: 6vh;
  padding: 5px;
}

.viewbar-container {
  height: 6vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}

.viewbar {
  display: flex;
  align-items: center;
  background-color: white;
  height: inherit;
  width: 100%;
}

.view-text {
  padding: 0 10px;
  font-weight: bold;
}

.add-button {
  height: 100%;
}

.dropdown {
  height: 100%;
  width: 40%;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  background-color: #eff9ff;
}

.dropdown-selected {
  padding-left: 6px;
}

.dropdown-button {
  align-items: center;
  display: flex;
  height: inherit;
}

.dropdown-button:hover {
  background-color: #ceedff;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 8px solid #bcbcbc;
  margin-left: auto;
}

.dropdown-card {
  width: 100%;
  background-color: white;
  box-shadow: 0px 2px 10px #d5d5d5;
}

.dropdown-options {
  height: inherit;
  padding: 11px 10px;
  border-bottom: 1px solid #efefef;
}

.dropdown-options:hover {
  background-color: #eff9ff;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 80vh;
  margin-top: 5vh;
  max-height: 700px;
  max-width: 80vh;
  overflow: auto;
}

.calendar-container {
  display: flex;
  justify-content: center;
}

#search-calendar-container {
  position: absolute;
  display: flex;
  max-width: 40vh;
  max-height: 40vh;
  overflow: auto;
  background-color: white;
  opacity: 0.95;
  z-index: 20;
}

.react-calendar {
  width: 96% !important;
  border: none !important;
}

.react-calendar__tile {
  height: 80px;
}

.calendar-todo {
  background-color: #ceedff;
  margin: 1px 1px;
  border-radius: 10px;
  color: black;
}

.calendar-todo:hover {
  background-color: #a0d3ff;
  text-decoration: none;
  color: black;
}

.close-btn {
  position: absolute;
  z-index: 25;
  color: red;
  width: inherit;
  text-align: right;
}

.close-btn:hover {
  font-weight: bold;
}
